        <script type="text/javascript" src="gameScripts/phaser-state-transition.min.js"></script>
        <script type="text/javascript" src="gameScripts/game.js"></script>
        <script type="text/javascript" src="gameScripts/menu.js"></script>
        <script type="text/javascript" src="gameScripts/over.js"></script>
        <script type="text/javascript" src="gameScripts/main.js"></script>
    </body>
    </html>