<% include ../partials/header %>
<h6 id="player-name-display"><%= player.nickname %></h6>
<h6 id="player-score-display">score: <%= player.score %></h6>

<table id="leaderboards">
    <tr>
        <th>NICKNAME</th>
        <th>SCORE</th>
    </tr>

    <tr>
        <td>santiValdezTHEPRO420</td>
        <td>69</td>
    </tr>

    <tr>
        <td>santiValdezTHEPRO420</td>
        <td>69</td>
    </tr>

    <tr>
        <td>santiValdezTHEPRO420</td>
        <td>69</td>
    </tr>

    <tr>
        <td>santiValdezTHEPRO420</td>
        <td>69</td>
    </tr>

    <tr>
        <td>santiValdezTHEPRO420</td>
        <td>69</td>
    </tr>
    
    <tr>
        <td>santiValdezTHEPRO420</td>
        <td>69</td>
    </tr>

    <tr>
        <td>santiValdezTHEPRO420</td>
        <td>69</td>
    </tr>

    <tr>
        <td>santiValdezTHEPRO420</td>
        <td>69</td>
    </tr>

    <tr>
        <td>santiValdezTHEPRO420</td>
        <td>69</td>
    </tr>

    <tr>
        <td>santiValdezTHEPRO420</td>
        <td>69</td>
    </tr>
</table>
<% include ../partials/gameFooter %>