<% include ../partials/header %>

<h6 id="player-name-display"><%= player.nickname %></h6>

<table id="leaderboards">

    <thead>
        <tr>
            <th>NICKNAME</th>
            <th>SCORE</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>

<% include ../partials/gameFooter %>