body {
    background-color: rgb(54, 57, 61);
    margin: 0;
    padding: 0;
    color: white;
}
hr{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
input[type="nickname"]{
    background-color: #B0B0CE;
}
input[type="nickname"]:focus{
    background-color: #B0B0CE;
}
.form-btn{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: none;
    font-size: 2em;
    margin: 20px auto 0 auto;
    transition: border-radius .5s;
}
.form-btn:hover{
    border: 1px solid rgba(102, 205, 169, 0.5);
    color: mediumaquamarine;
    border-radius: 20px;
    transition: border-radius .5s, color .5s;
}
.add-opacity{
    opacity: 1 !important;
}
#title-js{
    color: mediumaquamarine;
}
.form-center{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#title-container{
    margin-bottom: 60px;
}
h1{
    font-size: 10em;
}
h3{
    font-weight: lighter;
}
#player-name-display{
    position: absolute;
    top: 200px;
    margin-left: 50px;
    float: left;
}
#player-score-display{
    position: absolute;
    top: 250px;
    margin-left: 50px;
    float: left;
}
canvas{
    margin: 40px auto 0px auto;
}