body {
    background-color: rgb(54, 57, 61);
    margin: 0;
    padding: 0;
    color: white;
}
button:focus{
    outline: 0;
}
hr{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
input[type="nickname"]{
    background-color: #B0B0CE;
}
input[type="nickname"]:focus{
    background-color: #B0B0CE;
    outline-color: rgb(226, 103, 226);
}
.form-btn{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: none;
    font-size: 2em;
    margin: 20px auto 0 auto;
    transition: border-radius .5s;
}
.form-btn:hover{
    border: 1px solid rgba(102, 205, 169, 0.5);
    color: mediumaquamarine;
    border-radius: 20px;
    transition: border-radius .5s, color .5s;
}
.add-opacity{
    opacity: 1 !important;
}
#title-js{
    color: mediumaquamarine;
}
.form-center{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#title-container{
    margin-bottom: 60px;
}
h1{
    font-size: 10em;
}
h3{
    font-weight: lighter;
}
#player-name-display{
    position: absolute;
    bottom: 350px;
    left: 50px;
    float: left;
}
#player-score-display{
    position: absolute;
    bottom: 300px;
    left: 50px;
    float: left;
}
canvas{
    margin: 40px auto 0px auto;
}
#leaderboards{
    width: 500px;
    border-spacing: 8px 5px;
    background-color: rgb(255, 255, 255);
    color: #2C2C2C;
    position: absolute;
    top: 40px;
    left: 20px;
    float: left;
}
#leaderboards th,td{
    padding: 10px;
}
#leaderboards tr:nth-child(2n){
    background-color: #F3F3F3;
}
#leaderboards td:nth-child(2n){
    text-align: center;
    font-weight: bold;
}
thead > tr{
    background-color: rgb(76, 212, 149);

    color: white;
}
#leaderboards th{
    font-weight: lighter;
}
#leaderboards th:nth-child(2){
    text-align: center;
}